<div style="padding: 15px;">
    
    <form class="form" role="form">
        <div class="form-group">
            <input type="email" class="form-control" placeholder="Enter email">
            <br/>
            <p class="help-block">Enter the email address of the person you wish to invite. This <strong>must</strong> be an email address they have registered with 
            a social login provider (Google, LinkedIn, Facebook). The user will be sent a unique, time limited code which they can use to create an account.</p>
            <p class="help-block">Following the initial account creation that person can use the social logins to access the authorised service.</p>
        </div>
    </form>

</div>

