<div style="padding: 15px;" ng-if="admin && ready">
    <span ng-repeat="user in users">
        <div class="row">
            <div class="col-sm-12">
                <strong>{{user.username}}</strong> <small>({{user.primaryEmail}}, {{user.secondaryEmail}})</small>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3">
                <span class="label label-danger" ng-show="user.status === 'locked'">Account Locked</span>
            </div>
            <div class="col-sm-7">
                <div ng-repeat="(app_name, permission) in user.apps">
                    <div class="row">
                        <div class="col-sm-7">
                            <span>{{app_name}}</span>
                        </div>
                        <div class="col-sm-2">
                            <span ng-show="appPermission(permission)">
                                <span class="label label-success">Allow</span>
                            </span>
                        </div>
                        <div class="col-sm-3">
                            <div class="btn-group">
                                <button class="btn btn-default btn-xs" ng-click="access('allow', user._id, app_name)">
                                    <span class="glyphicon glyphicon-ok"></span>
                                </button>
                                <button class="btn btn-default btn-xs" ng-click="access('deny', user._id, app_name)">
                                    <span class="glyphicon glyphicon-remove"></span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-2">
                <div class="btn-group">
                    <button class="btn btn-default btn-xs" ng-click="lockAccount(user._id)">
                        <span class="glyphicon glyphicon-lock"></span>
                    </button>
                    <!--
                    <button class="btn btn-default btn-xs" ng-click="deleteAccount(user._id)">
                        <span class="glyphicon glyphicon-remove"></span>
                    </button>
                    -->
                </div>
            </div>
        </div>
        <br/>
    </span>
</div>
